//navigation

nav .selected,
nav .selected a {
    font-weight: bold;
    color: #666666;
    padding-left:0px;
    -webkit-transition: padding-left 2s; /* Safari */
    transition: padding-left 2s;
}

nav .selected a:hover {
    font-weight: bold;
    color: #fc0606;
    padding-left:20px;
}